%barlow {
    font: {
        family: 'Barlow', sans-serif;
        weight: 600;
    }
}

%fraunces-bold {
    font: {
        family: 'Fraunces', serif;
        weight: 700;
    }
}

%fraunces-black {
    font: {
        family: 'Fraunces', serif;
        weight: 900;
    }
}

