// PRIMARY COLORS
$primary-red: hsl(7, 99%, 70%);
$primary-yellow: hsl(51, 100%, 49%);
$primary-cyan: hsl(167, 40%, 24%); // graphic design text
$primary-blue: hsl(198, 62%, 26%); // photography text
$primary-darkcyan: hsl(168, 34%, 41%); // footer
$primary-lightcyan: hsl(168, 44%, 72%);
$primary-cyan--logo: hsl(168, 45%, 32%);

// NEUTRAL COLORS
$neutral-blue--desat: hsl(212, 27%, 19%);
$neutral-blue--dark: hsl(213, 9%, 39%);
$neutral-grayblue--dark: hsl(232, 10%, 55%);
$neutral-grayblue: hsl(210, 4%, 67%);
$neutral-white: hsl(0, 0%, 100%);
